# Linear Transformations - Lab

## Introduction

In this lab, you'll practice your linear transformation skills!

## Objectives

You will be able to:

* Determine if a linear transformation would be useful for a specific model or set of data
* Identify an appropriate linear transformation technique for a specific model or set of data
* Apply linear transformations to independent and dependent variables in linear regression
* Interpret the coefficients of variables that have been transformed using a linear transformation

## Ames Housing Data

Let's look at the Ames Housing data, where each record represents a home sale:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-v0_8-darkgrid')

ames = pd.read_csv('ames.csv', index_col=0)
ames

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

We'll use this subset of features. These are specifically the _continuous numeric_ variables, which means that we'll hopefully have meaningful mean values.

From the data dictionary (`data_description.txt`):

```
LotArea: Lot size in square feet

MasVnrArea: Masonry veneer area in square feet

TotalBsmtSF: Total square feet of basement area

GrLivArea: Above grade (ground) living area square feet

GarageArea: Size of garage in square feet
```

In [2]:
ames = ames[[
    "LotArea",
    "MasVnrArea",
    "TotalBsmtSF",
    "GrLivArea",
    "GarageArea",
    "SalePrice"
]].copy()
ames

      LotArea  MasVnrArea  TotalBsmtSF  GrLivArea  GarageArea  SalePrice
Id
1        8450       196.0          856       1710         548     208500
2        9600         0.0         1262       1262         460     181500
3       11250       162.0          920       1786         608     223500
4        9550         0.0          756       1717         642     140000
5       14260       350.0         1145       2198         836     250000
...       ...         ...          ...        ...         ...        ...
1456     7917         0.0          953       1647         460     175000
1457    13175       119.0         1542       2073         500     210000
1458     9042         0.0         1152       2340         252     266500
1459     9717         0.0         1078       1078         240     142125
1460     9937         0.0         1256       1256         276     147500

[1460 rows x 6 columns]

We'll also drop any records with missing values for any of these features:

In [3]:
ames.dropna(inplace=True)
ames

      LotArea  MasVnrArea  TotalBsmtSF  GrLivArea  GarageArea  SalePrice
Id
1        8450       196.0          856       1710         548     208500
2        9600         0.0         1262       1262         460     181500
3       11250       162.0          920       1786         608     223500
4        9550         0.0          756       1717         642     140000
5       14260       350.0         1145       2198         836     250000
...       ...         ...          ...        ...         ...        ...
1456     7917         0.0          953       1647         460     175000
1457    13175       119.0         1542       2073         500     210000
1458     9042         0.0         1152       2340         252     266500
1459     9717         0.0         1078       1078         240     142125
1460     9937         0.0         1256       1256         276     147500

[1452 rows x 6 columns]

And plot the distributions of the un-transformed variables:

In [ ]:
ames.hist(figsize=(15,10), bins="auto")

## Step 1: Build an Initial Linear Regression Model

`SalePrice` should be the target, and all other columns in `ames` should be predictors.

In [6]:
# Your code here - build a linear regression model with un-transformed features
import statsmodels.api as sm
y = ames.SalePrice
X = ames.drop('SalePrice', axis=1)
initial_model = sm.OLS(y, sm.add_constant(X))
initial_model_results = initial_model.fit()

## Step 2: Evaluate Initial Model and Interpret Coefficients

Describe the model performance overall and interpret the meaning of each predictor coefficient. Make sure to refer to the explanations of what each feature means from the data dictionary!

In [7]:
# Your written answer here
print(initial_model_results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.676
Model:                            OLS   Adj. R-squared:                  0.675
Method:                 Least Squares   F-statistic:                     603.0
Date:                Fri, 29 Nov 2024   Prob (F-statistic):               0.00
Time:                        12:57:16   Log-Likelihood:                -17622.
No. Observations:                1452   AIC:                         3.526e+04
Df Residuals:                    1446   BIC:                         3.529e+04
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const       -1.525e+04   4145.934     -3.677      0.000   -2.34e+04   -7113.396
LotArea         0.2568      0.125      2.056      0.040       0.012       0.502
MasVnrArea     55.0481      7.427      7.412      0.000      40.480      69.616
TotalBsmtSF    44.1640      3.324     13.286      0.000      37.643      50.685
GrLivArea      63.8443      2.772     23.030      0.000      58.406      69.282
GarageArea     93.4629      6.795     13.755      0.000      80.134     106.792
==============================================================================
Omnibus:                      817.744   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            77147.499
Skew:                          -1.709   Prob(JB):                         0.00
Kurtosis:                      38.546   Cond. No.                     5.09e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.09e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

<details>
    <summary style="cursor: pointer"><b>Answer (click to reveal)</b></summary>

The model overall is statistically significant and explains about 68% of the variance in sale price.

The coefficients are all statistically significant.

* `LotArea`: for each additional square foot of lot area, the price increases by about \\$0.26
* `MasVnrArea`: for each additional square foot of masonry veneer, the price increases by about \\$55
* `TotalBsmtSF`: for each additional square foot of basement area, the price increases by about \\$44
* `GrLivArea`: for each additional square foot of above-grade living area, the price increases by about \\$64
* `GarageArea`: for each additional square foot of garage area, the price increases by about \\$93

</details>

## Step 3: Express Model Coefficients in Metric Units

Your stakeholder gets back to you and says this is great, but they are interested in metric units.

Specifically they would like to measure area in square meters rather than square feet.

Report the same coefficients, except using square meters. You can do this by building a new model, or by transforming just the coefficients.

The conversion you can use is **1 square foot = 0.092903 square meters**.

In [8]:
# Your code here - building a new model or transforming coefficients
# from initial model so that they are in square meters
X_metric = X * 0.092903
metric_model = sm.OLS(y, sm.add_constant(X_metric))
metric_model_results = metric_model.fit()
print(metric_model_results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.676
Model:                            OLS   Adj. R-squared:                  0.675
Method:                 Least Squares   F-statistic:                     603.0
Date:                Fri, 29 Nov 2024   Prob (F-statistic):               0.00
Time:                        12:57:47   Log-Likelihood:                -17622.
No. Observations:                1452   AIC:                         3.526e+04
Df Residuals:                    1446   BIC:                         3.529e+04
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const       -1.525e+04   4145.934     -3.677      0.000   -2.34e+04   -7113.396
LotArea         2.7638      1.344      2.056      0.040       0.127       5.400
MasVnrArea    592.5326     79.941      7.412      0.000     435.719     749.346
TotalBsmtSF   475.3778     35.780     13.286      0.000     405.191     545.565
GrLivArea     687.2148     29.840     23.030      0.000     628.680     745.750
GarageArea   1006.0270     73.139     13.755      0.000     862.557    1149.497
==============================================================================
Omnibus:                      817.744   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            77147.499
Skew:                          -1.709   Prob(JB):                         0.00
Kurtosis:                      38.546   Cond. No.                     4.73e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.73e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
# Your written answer here

<details>
    <summary style="cursor: pointer"><b>Answer (click to reveal)</b></summary>

* `LotArea`: for each additional square meter of lot area, the price increases by about \\$2.76
* `MasVnrArea`: for each additional square meter of masonry veneer, the price increases by about \\$593
* `TotalBsmtArea`: for each additional square meter of basement area, the price increases by about \\$475
* `GrLivArea`: for each additional square meter of above-grade living area, the price increases by about \\$687
* `GarageArea`: for each additional square meter of garage area, the price increases by about \\$1,006

</details>

## Step 4: Center Data to Provide an Interpretable Intercept

Your stakeholder is happy with the metric results, but now they want to know what's happening with the intercept value. Negative \\$17k for a home with zeros across the board...what does that mean?

Center the data so that the mean is 0, fit a new model, and report on the new intercept.

(It doesn't matter whether you use data that was scaled to metric units or not. The intercept should be the same either way.)

In [9]:
# Your code here - center data
X_centred = X.copy()
for col in X_centred.columns:
    X_centred[col] = X_centred[col] - X_centred[col].mean()
X_centred

          LotArea  MasVnrArea  TotalBsmtSF   GrLivArea  GarageArea
Id
1    -2057.276171   92.314738  -199.847107  195.908402   75.524793
2     -907.276171 -103.685262   206.152893 -252.091598  -12.475207
3      742.723829   58.314738  -135.847107  271.908402  135.524793
4     -957.276171 -103.685262  -299.847107  202.908402  169.524793
5     3752.723829  246.314738    89.152893  683.908402  363.524793
...           ...         ...          ...         ...         ...
1456 -2590.276171 -103.685262  -102.847107  132.908402  -12.475207
1457  2667.723829   15.314738   486.152893  558.908402   27.524793
1458 -1465.276171 -103.685262    96.152893  825.908402 -220.475207
1459  -790.276171 -103.685262    22.152893 -436.091598 -232.475207
1460  -570.276171 -103.685262   200.152893 -258.091598 -196.475207

[1452 rows x 5 columns]

In [10]:
# Your code here - build a new model
model_centred = sm.OLS(y, sm.add_constant(X_centred))
model_centred_results = model_centred.fit()
print(model_centred_results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.676
Model:                            OLS   Adj. R-squared:                  0.675
Method:                 Least Squares   F-statistic:                     603.0
Date:                Fri, 29 Nov 2024   Prob (F-statistic):               0.00
Time:                        12:58:20   Log-Likelihood:                -17622.
No. Observations:                1452   AIC:                         3.526e+04
Df Residuals:                    1446   BIC:                         3.529e+04
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const        1.806e+05   1186.695    152.200      0.000    1.78e+05    1.83e+05
LotArea         0.2568      0.125      2.056      0.040       0.012       0.502
MasVnrArea     55.0481      7.427      7.412      0.000      40.480      69.616
TotalBsmtSF    44.1640      3.324     13.286      0.000      37.643      50.685
GrLivArea      63.8443      2.772     23.030      0.000      58.406      69.282
GarageArea     93.4629      6.795     13.755      0.000      80.134     106.792
==============================================================================
Omnibus:                      817.744   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            77147.499
Skew:                          -1.709   Prob(JB):                         0.00
Kurtosis:                      38.546   Cond. No.                     9.99e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.99e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
# Your written answer here - interpret the new intercept

<details>
    <summary style="cursor: pointer"><b>Answer (click to reveal)</b></summary>

The new intercept is about \\$181k. This means that a home with average lot area, average masonry veneer area, average total basement area, average above-grade living area, and average garage area would sell for about \\$181k.

</details>

## Step 5: Identify the "Most Important" Feature

Finally, either build a new model with transformed coefficients or transform the coefficients from the Step 4 model so that the most important feature can be identified.

Even though all of the features are measured in area, they are different kinds of area (e.g. lot area vs. masonry veneer area) that are not directly comparable as-is. So apply **standardization** (dividing predictors by their standard deviations) and identify the feature with the highest standardized coefficient as the "most important".

In [11]:
# Your code here - building a new model or transforming coefficients
# from centered model so that they are in standard deviations
X_standardized = X_centred.copy()
for col in X_standardized.columns:
    X_standardized[col] = X_standardized[col] / X_standardized[col].std()
model_standardized = sm.OLS(y, sm.add_constant(X_standardized))
model_standardized_results = model_standardized.fit()
print(model_standardized_results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.676
Model:                            OLS   Adj. R-squared:                  0.675
Method:                 Least Squares   F-statistic:                     603.0
Date:                Fri, 29 Nov 2024   Prob (F-statistic):               0.00
Time:                        12:58:47   Log-Likelihood:                -17622.
No. Observations:                1452   AIC:                         3.526e+04
Df Residuals:                    1446   BIC:                         3.529e+04
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const        1.806e+05   1186.695    152.200      0.000    1.78e+05    1.83e+05
LotArea      2565.0144   1247.413      2.056      0.040     118.081    5011.948
MasVnrArea   9967.3432   1344.739      7.412      0.000    7329.495    1.26e+04
TotalBsmtSF  1.935e+04   1456.358     13.286      0.000    1.65e+04    2.22e+04
GrLivArea    3.356e+04   1457.171     23.030      0.000    3.07e+04    3.64e+04
GarageArea   2.001e+04   1454.817     13.755      0.000    1.72e+04    2.29e+04
==============================================================================
Omnibus:                      817.744   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            77147.499
Skew:                          -1.709   Prob(JB):                         0.00
Kurtosis:                      38.546   Cond. No.                         2.19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# Your written answer here - identify the "most important" feature

<details>
    <summary style="cursor: pointer"><b>Answer (click to reveal)</b></summary>

The feature with the highest standardized coefficient is `GrLivArea`. This means that above-grade living area is most important.

</details>

## Summary
Great! You've now got some hands-on practice transforming data and interpreting the results!